<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group"><label for="firstName">First Name</label><input class="form-control ng-untouched ng-pristine ng-invalid" formControlName="firstName" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="firstName"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group"><label for="lastName">Last Name</label><input class="form-control ng-untouched ng-pristine ng-invalid" formControlName="lastName" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="lastName"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group"><label for="username">Username</label><input class="form-control ng-untouched ng-pristine ng-invalid" formControlName="userName" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="username"
                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group"><label for="password">Password</label><input class="form-control ng-untouched ng-pristine ng-invalid" formControlName="password" type="password" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="password"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group"><label for="fonction">Fonction</label><select class="form-control ng-untouched ng-pristine ng-invalid" formControlName="fonction" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]" ng-reflect-name="fonction"
                        [ngClass]="{ 'is-invalid': submitted && f.fonction.errors }">
                        <option value="Professeur">Professeur</option>
                        <option value="Élève">Élève</option>
                    </select>
                    <div *ngIf="submitted && f.fonction.errors" class="invalid-feedback">
                        <div *ngIf="f.fonction.errors.required">Fonction is required</div>
                    </div>
                </div>
                <div class="form-group"><button [disabled]="loading" class="btn btn-primary" style="background-color: #3f51b5;">Register</button><a style="color: #3f51b5;" class="btn btn-link" ng-reflect-router-link="/" href="/">Cancel</a></div>
            </form>
        </div>
    </div>
</div>